<p id="notice"><%= notice %></p>

<h1>Speed</h1>

<table id="ddtb">
  <thead bgcolor="#b3ffcc" >
    <tr>
      <th>Name</th>
       <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @connections.each do |connection| %>
      <tr>
        <td><%= connection.name %></td>
         <td><%= connection.rate %></td>
        <td><%= link_to 'Show', connection %></td>
        <td><%= link_to 'Edit', edit_connection_path(connection) %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speed', new_connection_path %>
