<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @connection.name %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @connection.rate %>
</p>


<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
