<p id="notice"><%= notice %></p>

<p>
  <strong>Bill ID:</strong>
  <%= sprintf '%03d', @bill.id %>
</p>
<p>
  <strong>Bill Date:</strong>
  <%= @bill.created_at.strftime("%d/%m/%Y") %>
</p>


<p>
  <strong>Customer Id:</strong>
  <%= sprintf '%03d', @bill.customer_id %> &nbsp &nbsp

  <strong>Customer Name:</strong>
   <%= Customer.find(@bill.customer_id).name %>
</p>

<p>
  <strong>Bill amount:</strong>
  <%= @bill.bill_amount %>
</p>

<p>
  <strong>Valid up to:</strong>
  <%= @bill.valid_up_to.strftime("%d/%m/%Y")%>
</p>

<p>
  <strong>Transaction type:</strong>
  <%= @bill.transaction_type %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
