<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :mac_address %><br>
    <%= f.text_field :mac_address %>
  </div>
  <div class="field">
    <%= f.label :ip_address %><br>
    <%= f.text_field :ip_address %>
  </div>
  <div class="field">
    <%= f.label :connection_type %><br>
    <%= f.select :connection_type, ["Upto 512 Kbps(Regular)","Upto 1 Mbps(Regular)", "Upto 1.5 Mbps(Regular)","Upto 2 Mbps(Regular)","Upto 3 Mbps(Regular)" ,"Upto 512 Kbps(Special)","Upto 1 Mbps(Special)", "Upto 1.5 Mbps(Special)","Upto 2 Mbps(Special)","Upto 3 Mbps(Special)","Upto 512 Kbps(Dedicated)","Upto 1 Mbps(Dedicated)", "Upto 1.5 Mbps(Dedicated)","Upto 2 Mbps(Dedicated)","Upto 3 Mbps(Dedicated)"] %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select :status, ["active", "inactive"]  %>
  </div>
  <div class="field">
    <%= f.label :billing_code %><br>
    <%= f.select :billing_code, ["On 1st of Month","On 7th of Month", "On 14th of Month" ] %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :contact_no %><br>
    <%= f.text_field :contact_no %>
  </div>
  <div class="field">
    <%= f.label :contact_person %><br>
    <%= f.text_field :contact_person %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
