<div>
<p id="notice"><%= notice %></p>
<div>
<p> 
  <table style="width:50%" class="table table-hover" align="center" >
    <caption><h2>Customer Details</h2></caption>
    <tr s>
      <th > <strong >Name:</strong></th>
      <th><%= @customer.name %></th>
    </tr> 

    <tr>
      <td><strong>Customer ID:</strong></td>
      <td><%= @customer.customer_id %></td>
    </tr>

   <tr>
      <td><strong>Mac address:</strong></td>
      <td><%= @customer.mac_address %></td>
    </tr>

    <tr>
      <td><strong>Ip address:</strong></td>
      <td><%= @customer.ip_address %></td>
    </tr>

    <tr>
      <td><strong>Connection type:</strong></td>
      <td><%= @customer.connection_type %></td>
    </tr>

    <tr>
      <td><strong>Status:</strong></td>
      <td><%= @customer.status %></td>
    </tr>

      <tr>
          <td><strong>Billing code:</strong></td>
          <td><%= @customer.billing_code %></td>
        </tr>  
   <tr>
          <td> <strong>Address:</strong></td>
          <td><%= @customer.address %></td>
        </tr>
 <tr>
          <td><strong>Contact no:</strong></td>
          <td><%= @customer.contact_no %></td>
        </tr>

 <tr>
          <td><strong>Contact person:</strong></td>
          <td>  <%= @customer.contact_person %></td>
        </tr>
<tr>
          <td><strong>Email:</strong></td>
          <td><%= @customer.email %></td>
        </tr>
 
  </table>
</p >
<div align="center"><%= link_to 'Edit Customer Details', edit_customer_path(@customer), class: "btn btn-erik" %> <%= link_to 'Crate New Bill', new_bill_path, class: "btn btn-erik" %> 

</div>


<h2 class="pull-right">Total paid till now: <%= bill_total %></h2><br><br>

<hr>
</div>

  
<div class="contaigner">
 
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Transaction type</th>
      <th>Valit till</th>
      <th>Amount</th>
      
  
  </thead>

  <tbody>
<%Customer.find(params[:id]).bills.each do |bill|%>
     
      <tr>
        <td><%= bill.created_at.strftime "%d %B %Y" %></td>
        <td><%= bill.transaction_type%></td>
        <td><%=bill.valid_up_to.strftime "%d %B %Y" %></td>
       
        <td><%=bill.bill_amount %></td>

        <td><%=link_to "Edit Bill", edit_bill_path, class: "btn btn-erik" %></td>
        
        
      <%end%>

    </tbody


</div>


</div>