<!DOCTYPE html>
<html>
<head>
  <title>CnetCom</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Responsive Admin</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />


</head>


<body class="container">

<%= render partial:'layouts/navigationtop' %>
   <div id="wrapper">

    <%= render partial:'layouts/navigation' %>
   
    <div class="footer">
      
    
            <div class="row">
                <div class="col-lg-12" >
                    &copy;  2014 yourdomain.com | Design by: <a href="http://binarytheme.com" style="color:#fff;" target="_blank">www.binarytheme.com</a>
                </div>
            </div>
        </div>
   </div>


	

<%= yield %>

 <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>

</body>
</html>
<!--
<div>
	<ul class="nav nav-pills pull-right">
		<li><%= link_to "Home", root_url, class:"btn btn-erik"%> &nbsp &nbsp</li>
		<li><%= link_to "Customers List", customer_list_url, class:"btn btn-erik"%> &nbsp &nbsp</li>
		<li><%= link_to "Bills List", bill_list_url, class:"btn btn-erik"%> &nbsp &nbsp</li>
		<li><%= link_to "Cost_List", cost_list_url, class:"btn btn-erik"%> &nbsp &nbsp</li>
		<li><%= link_to "Cost List", costs_url, class:"btn btn-erik"%> &nbsp &nbsp</li>
		<li><%= link_to "About", about_url, class:"btn btn-erik"%></li>
		<% if user_signed_in? %>
		<li class="btn btn-erik">Signed in as &nbsp <%= current_user.name %> </li>
		<li class= "btn-erik" > <%= link_to "Not you? sign out", destroy_user_session_path, :method => :delete%></li>
		<%else%>
		<li><%= link_to "Sign up", new_user_registration_path, class: "btn-erik"  %></li> <li><%= link_to"Sign in", new_user_session_path, class: "btn-erik"  %></li>
		<% end %>

	</ul>
</div>

<br>
	<div style="background-color:#19355E">
		<h1><%= link_to "CNET COMMUNICATION", root_url %><small>//Gateway to the world</small></h1>

</div>
-->